<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  IgnorableNamespaces="uap mp rescap iot">

  <Identity
    Name="Easy-Fetch"
    Publisher="CN=Empyreal96"
    Version="1.13.19.0" />

  <mp:PhoneIdentity PhoneProductId="55ab909d-12ac-4eaf-a703-b4e42706ad13" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Easy-Fetch</DisplayName>
    <PublisherDisplayName>Empyreal96</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Phone_Helper.App">
      <uap:VisualElements
        DisplayName="Easy-Fetch"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Easy-Fetch Utility"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <uap:ApplicationContentUriRules>
        <uap:Rule Type="include" Match="https://127.0.0.1" WindowsRuntimeAccess="all"/>
      </uap:ApplicationContentUriRules>

	  
	</Application>
	  
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer"/>
	<rescap:Capability Name="appDiagnostics"/>
	<rescap:Capability Name="devicePortalProvider"/>
	<rescap:Capability Name="developerModeNetwork"/>
	<rescap:Capability Name="packageManagement"/>
    <rescap:Capability Name="pacakgeQuery"/>
    <Capability Name="internetClientServer"/>
	<uap:Capability Name="documentsLibrary"/>
	  <rescap:Capability Name="broadFileSystemAccess" />
	  <rescap:Capability Name="id_cap_runtime_config"/>
	  <rescap:Capability Name="id_cap_oem_custom"/>
	
  </Capabilities>

  <Extensions>

  

  <Extension Category="windows.certificates">

  

  

  <Certificates>

  

  

  

  <SelectionCriteria AutoSelect="true"/>

  

  

  </Certificates>

  

  </Extension>

  </Extensions>

</Package>